<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Bootstrap-Basis-Vorlage</title>
    <script type="text/javascript" src="js/wishlistoutput.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
    <!--Navigation-->
    <div class="bg-1">
        <!-- Home -->
        <a class="home pl-4" th:href="@{home}">Home<span class="sr-only">(current)</span></a>
        <!--Titeltext-->
        <div class="row text-center title-1">GiftMeFive</div>
        <div class="title-1-text" th:text="|Reservierungen für ${reservationname}|"></div>
    </div>

    <!-- Liste -->
    <!--Eintrag 1-->
    <div class="card mb-4 mt-2" th:each="article : ${wishlist}">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a th:href="@{${article.productlink}}" target="_blank"> <img th:src="@{${article.imagelink}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.name}"></h5>
                    <p class="card-text" th:text="${article.description}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text=" |Hinzugefügt am ${article.creationdate}|"></small>
                        <small class="text-muted" th:text=" | Wunsch-id ${article.id}|"></small>
                        <small class="text-muted" th:text=" | in Liste ${article.wishlistId}|"></small>
                        <small class="text-muted" th:text=" | Reserviert=${article.reserved} für ${article.reservationname}|"></small>
                    </p>
                    <div class="text-right">
                        <button th:if="${article.reserved} == false" data-toggle="modal" data-target="#reserve_wish" th:attr="data-articleid=${article.id}, data-wishlistid=${article.wishlistId}" class="btn btn-primary">Reservieren</button>
                    </div>
                    <div class="text-right">
                        <button th:if="${article.reserved} == true" data-toggle="modal" data-target="#unreserve_wish" th:attr="data-articleid=${article.id}, data-articlename=${article.name}, data-reservationname=${article.reservationname}" class="btn btn-primary">Aufheben Reservierung</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Eingabefenster für Reservierung erstellen-->
    <div class="modal fade" id="unreserve_wish" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Reservierung löschen</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    </button>	
                </div>

                <form action="/unreserveWish" method="get">
                    <div class="modal-body">
                        <input type="hidden" class="articleId" name="articleId" value="">
                        <input type="hidden" class="articlename" name="articlename" value="">
                        <input type="hidden" class="reservationname" name="reservationname" value="">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Weiter">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <!-- jQuery für Dateneintrag ins Modal, Quelle: https://getbootstrap.com/docs/4.0/components/modal/#varying-modal-content -->
    <script>
        $('#unreserve_wish').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
			
            modal.find('.articleId').val(button.data('articleid'))
            modal.find('.modal-header').text("Reservierung für " + button.data('articlename') + " wird gelöscht")
            modal.find('.reservationname').val(button.data('reservationname'))
        })
    </script>
</body>

</html>