<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Gift Me Five Extrawunsch</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
    <!--Navigation-->
    <div class="bg-1">
        <!-- Home -->
        <a class="home pl-4" th:href="@{home}">Home<span class="sr-only">(current)</span></a>
        <!--Titeltext-->
        <div class="row text-center title-1">GiftMeFive</div>
        <div class="title-1-text" th:text="|${name} Wunschliste!|"></div>
    </div>

    <!-- Eingabefeld -->
    <!-- Form-Elemente fuer Wunsch einfuegen: Felder sind bildlink, name, beschreibung, produktlink, datum, preis -->
    <div class="card mb-4 mt-2" style="background-color: #ddd">
        <form action="/addWish" class="form-horizontal" id="wishform" method="get" onreset="myResetFunction()">
            <div class="row no-gutters">
                <div class="col-md-4 file-field" style="background-color: #ccc">
                    <div class="card-body">
                        <p class="card-title" style="text-align: center">Bild des Wunschs hochladen:</p>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" id="bildlink" class="custom-file-input" aria-describedby="inputFileChoose" name="bildlink">
                                <label class="custom-file-label" for="bildlink"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <h5 class="card-title">
								<label for="name" class="control-label">Ihr Wunsch:</label> 
								<input id="name" class="form-control " name="name" type="text" placeholder="My wish">
							</h5>
                            <p class="card-text">
                                <label for="beschreibung" class="control-label">Beschreibung: </label>
                                <textarea id="beschreibung" class="form-control" name="beschreibung" placeholder="This is the greatest wish ever"></textarea>

                                <label for="produktlink" class="control-label">Link zum Wunsch: </label>
                                <input id="produktlink" class="form-control" name="produktlink" type="url" placeholder="https://stega84.github.io/gm5/">
                                <br>

                                <input type="hidden" name="wunschliste_id" value="" th:value="${id}">
                                <input type="hidden" name="titelname" value="" th:value="${name}">
                                <!--  Achtung: datum und preis auf Festwert gesetzt, noch anders zu lösen -->
                                <input type="hidden" name="datum" value="" th:value="2020-02-22">
                                <input type="hidden" name="preis" value="" th:value="1">

                                <input id="clear" type="reset" onclick="imgResetFunction()" class="btn btn-danger" value="Leeren">
                                <input id="submit" type="submit" class="btn btn-success" value="Speichern">
                            </p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Ende von Wunsch einfuegen -->

    <!--Eintrag 1-->
    <div class="card mb-4 mt-2" th:each="artikel : ${wishlist}">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a th:href="@{${artikel.produktlink}}" target="_blank">
                    <img th:src="@{${artikel.bildlink}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${artikel.name}"></h5>
                    <p class="card-text" th:text="${artikel.beschreibung}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text="|Hinzugefügt am ${artikel.datum}|"></small>
                        <small class="text-muted" th:text="| / Artikel-id ${artikel.id}|"></small>
                        <small class="text-muted" th:text="| / Wunschliste-id ${wunschliste_id}|"></small>
                    </p>
                    <div class="text-right">
                        <a th:href="@{/removeWish(id=${artikel.id}, wunschliste_id=${wunschliste_id})}" class="btn btn-danger">Löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <!-- Code below to display filename after selection in form input, retrieved from https://github.com/twbs/bootstrap/issues/23994 on 16 Jan 2020 -->
    <script>
        $('.custom-file-input').on(
            'change',
            function() {
                let fileName = $(this).val().split('\\').pop();
                let label = $(this).siblings('.custom-file-label');

                if (label.data('default-title') === undefined) {
                    label.data('default-title', label.html());
                }

                if (label.data('default-title') === undefined) {
                    label.data('default-title', label.html());
                }

                if (fileName === '') {
                    label.removeClass("selected").html(
                        label.data('default-title'));
                } else {
                    label.addClass("selected").html(fileName);
                }
            });
    </script>
    <script>
        // Reset the text of the file input element in a form with id="wimage"
        function imgResetFunction() {
            document.getElementById("bildlink").value = '';
            document.getElementById("bildlink").label.addClass("selected").html(
                'default-title');
        }
    </script>

</body>

</html>