<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
  <title>Bootstrap-Basis-Vorlage</title>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
  <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
  <!--Navigation-->
  <div class="bg-1">
    <!--Titeltext-->
    <div class="row text-center title-1">GiftMeFive</div>
    <div class="title-1-text">Max Mustermann Wunschliste</div>
  </div>


  <!-- Liste -->
  <!--Eintrag 1-->
  <div class="card mb-4 mt-2" th:each="artikel : ${wishlist}" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <a
          th:href="@{${artikel.produktlink}}" target="_blank">
          <img th:src="@{${artikel.bildlink}}" class="card-img" alt="...">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" th:text="${artikel.name}"></h5>
          <p class="card-text" th:text="${artikel.beschreibung}"></p>
          <p class="card-text"><small class="text-muted" th:text="|Hinzugefügt am ${artikel.datum}|"></small></p>
          <div class="text-right">
            <a href="#" class="btn btn-primary">Reservieren</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
  <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>

</html>
