<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Gift Me Five Extrawunsch</title>
    <script type="text/javascript" src="js/wishform.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
    <!--Navigation-->
    <div class="bg-1">
        <!-- Home -->
        <a class="home pl-4" th:href="@{home}">Home<span class="sr-only">(current)</span></a>
        <!--Titeltext-->
        <div class="row text-center title-1">GiftMeFive</div>
        <div class="title-1-text" th:text="|${titlename} Wunschliste!|"></div>
                <!-- Export-Optionen -->
        <div class="home pt-2">
        <a style="font-size: 1em" class="home pl-4" th:href="@{/toHTML(titlename=${titlename},wishlistId=${wishlistId}, sourceName='wishform_list')}">Speichern HTML</a>
        <button class="btn btn-lg btn-link pl-4" style="color: #ebebeb" data-toggle="modal" data-target="#save_csv"
         th:attr="data-titlename=${titlename}, data-wishlistid=${wishlistId}">Speichern CSV</button>
         </div>
    </div>

    <!-- Eingabefeld -->
    <div class="card mb-4 mt-2" style="background-color: #ddd">
        
            <div class="row no-gutters">
                <div class="col-md-4 file-field" style="background-color: #ccc">
                    <div class="card-body">
                        <p class="card-title">Vorschau(nach Kategorie):</p>
						<img th:src="@{${imagelink}}" class="card-img" alt="..." id="Category_wish_image" >                      
                        <form action="/saveimage" method="post" enctype="multipart/form-data">
                        	<label class="control-label mt-4 mb-0">Eigenes Bild hochladen.</label>
                        	<input type="file" class="form-control-file"  name="userimage" placeholder="" onchange="this.form.submit()">
                        	<input type="hidden" id="wishlistId" name="wishlistId" value="" th:value="${wishlistId}">
                            <input type="hidden" id="titlename" name="titlename" value="" th:value="${titlename}">
                            <input type="hidden" id="articlenameFormOne" name="articlename" th:value="${articlename}">
							<input type="hidden" id="descriptionFormOne" name="description" th:value="${description}">
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                	<form action="/addWish" id="input_wish" class="form-horizontal" method="post" onreset="myResetFunction()">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <h5 class="card-title">Ihr Wunsch</h5>
                            <p class="card-text">
                                <label class="control-label mt-2 mb-0">Was wünschen Sie sich:</label>
                                <input class="form-control" id="articlenameFormTwo" name="articlename" type="text" th:value="${articlename}" placeholder="Mein Wunsch" onfocusout="dataFunction()">

                                <label class="control-label mt-2 mb-0">Beschreibung:</label>
                                <textarea class="form-control" id="descriptionFormTwo" name="description" th:text="${description}" placeholder="..." onfocusout="dataFunction()"></textarea>

                                <label class="control-label mt-2 mb-0">Kategorie:</label>
                                <select class="form-control" id="Category" name="Category" onchange="imageFunction()">
                                    <option>Sonstiges</option>
                                    <option>Baby</option>
                                    <option>Beauty</option>
                                    <option>Bekleidung</option>
                                    <option>Bücher & Zeitschriften</option>
                                    <option>Bürobedarf & Schreibwaren</option>
                                    <option>Computer & Laptop & Zubehör</option>
                                    <option>DVD & Blu-ray</option>
                                    <option>Drogerie & Körperpflege</option>
                                    <option>Elektronik & Foto</option>
                                    <option>Games</option>    <!-- Fokus auf erstes Input-Feld im Modal, adaptiert von https://github.com/twbs/bootstrap/issues/12525 -->
    <script>
        $(document).on('shown.bs.modal', function(e) {
            $('[autofocus]', e.target).focus();
        });
    </script>
                                    <option>Garten</option>
                                    <option>Geschenkgutscheine</option>
                                    <option>Haustier</option>
                                    <option>Kamera & Foto</option>
                                    <option>Küche, Haushalt & Wohnen</option>
                                    <option>Musik-CDs & Vinyl</option>
                                    <option>Schmuck</option>
                                    <option>Schuhe & Handtaschen</option>
                                    <option>Software</option>
                                    <option>Spielzeug</option>
                                    <option>Sport & Freizeit</option>
                                    <option>Uhren</option>
                                </select>
                             
                                <input type="hidden" id="articleId" name="articleId" value="" th:value="${articleId}">
                                <input type="hidden" id="wishlistId" name="wishlistId" value="" th:value="${wishlistId}">
                                <input type="hidden" id="titlename" name="titlename" value="" th:value="${titlename}">
                                <input type="hidden" id="productlink" name="productlink" value="" th:value="${productlink}">
								<input type="hidden" id="CategoryImage" name="CategoryImage"  th:value="${imagelink}">	

                                <input type="reset" onclick="imgResetFunction()" class="btn btn-danger mt-3 mb-0" value="Leeren">
                                <input type="submit" class="btn btn-success mt-3 mb-0" value="Speichern">
                                
                        		<a th:href="@{/saveWishlist(wishlistId=${wishlistId}, titlename=${titlename})}" class="btn btn-dark float-right mt-3 mb-0">Wunschliste speichern</a>

                            </p>
                        </fieldset>
                    </div>
                     </form>
                </div>
            </div>
       
    </div>
    <!-- Ende von Wunsch einfuegen -->

    <!--Eintrag 1-->
    <div class="card mb-4 mt-2" th:each="article : ${wishlist}">
        <div class="row no-gutters">

            <div class="col-md-4 p-1">
                <a th:href="@{${article.productlink}}" target="_blank">
                    <img th:src="@{${article.imagelink}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="listArticlename" th:text="${article.name}"></h5>
                    <p class="card-text" id="listDescription" th:text="${article.description}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text="|Hinzugefügt am ${article.creationdate}|"></small>
                        <small class="text-muted" id="listArticleId" th:text="| / Artikel-id ${article.id}|"></small>
                        <small class="text-muted" id="listWishlistId" th:text="| / Wunschliste-id ${wishlistId}|"></small>
                    </p>
                    <div class="text-right">
                        <a th:href="@{/loadWish(articleId=${article.id}, wishlistId=${wishlistId}, articlename=${article.name}, description=${article.description}, imagelink=${article.imagelink}, productlink=${article.productlink})}" class="btn btn-primary">Bearbeiten</a>
                        <a th:href="@{/removeWish(articleId=${article.id}, wishlistId=${wishlistId}, titlename=${titlename})}" class="btn btn-danger">Löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            <!--Eingabefenster für Save As CSV-->
    <div class="modal fade" id="save_csv" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color:#EBEBEB">
                <div class="modal-header">
                    <h5 class="modal-title googlef-indieflower">Liste lokal speichern im CSV-Format (in Ordner 'Downloads')</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    </button>
                </div>

                <form name="saveform">
                    <div class="modal-body">
                        <input type="hidden" class="titlename" id="titlename" name="titlename" value="">
                        <input type="hidden" class="wishlistId" id="wishlistId" name="wishlistId" value="">
                        <textarea name="text_area" class="wishlistCsv" id="text_area" cols="40" th:text="${wishlistCsv}"></textarea>
                   
					  	<label class="index-text">Bitte geben Sie den Dateinamen ohne Endung ein:</label>
                        <input name="filename" id="filename" class="form-control" type="text" th:value="${titlename}+'_'+${wishlistId}" autofocus>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" onClick="save();" value="Speichern">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script>
        $('#save_csv').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)

            modal.find('.titlename').val(button.data('titlename'))
            modal.find('.wishlistId').val(button.data('wishlistid'))
        })
    </script>
        <!-- Fokus auf erstes Input-Feld im Modal, adaptiert von https://github.com/twbs/bootstrap/issues/12525 -->
    <script>
        $(document).on('shown.bs.modal', function(e) {
            $('[autofocus]', e.target).focus();
        });
    </script>
</body>

</html>