<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Bootstrap-Basis-Vorlage</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
    <!--Navigation-->
    <div class="bg-1">
        <!-- Home -->
        <a class="home pl-4" th:href="@{home}">Home<span class="sr-only">(current)</span></a>
        <!--Titeltext-->
        <div class="row text-center title-1">GiftMeFive</div>
        <!-- <div class="title-1-text" th:text="|${wishlist[0].wunschliste_name} Wunschliste!|"></div>
        <div class="title-1-text" th:text="|$name} Wunschliste!|"></div> -->
        <div class="title-1-text" th:text="${name != null} ? |${name} Wunschliste!| : |${wishlist[0].wunschliste_name} Wunschliste!|"></div>

    </div>

    <!-- Liste -->
    <!--Eintrag 1-->
    <div class="card mb-4 mt-2" th:each="artikel : ${wishlist}">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a th:href="@{${artikel.produktlink}}" target="_blank"> <img th:src="@{${artikel.bildlink}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${artikel.name}"></h5>
                    <p class="card-text" th:text="${artikel.beschreibung}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text="|Hinzugefügt am ${artikel.datum}|"></small>
                        <small class="text-muted" th:text=" | Wunsch-id ${artikel.id}|"></small>
                        <small class="text-muted" th:text=" | in Liste ${artikel.wunschliste_id}|"></small>
                        <small class="text-muted" th:text=" | Reserviert=${artikel.reserviert} für ${artikel.reservierung_name}|"></small>
                    </p>
                    <div class="text-right">
                        <a data-toggle="modal" data-target="#wunschReservieren" th:attr="data-artikel=${artikel.id}, data-wunschliste=${artikel.wunschliste_id}" class="btn btn-primary">Reservieren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Eingabefenster für Reservierung erstellen-->
    <div class="modal fade" id="wunschReservieren" tabindex="-1" role="dialog" aria-labelledby="wunsch-reservieren" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="wunsch_reservierung">Erfülle den Wunsch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/reserveWish" method="get">
                    <div class="modal-body">
                        <input type="hidden" class="artklid" name="id" value="">
                        <input type="hidden" class="wnschliste" name="wunschliste_id" value="">
                        <label>Bitte geben Sie den Namen ein, auf den die Reservierung erfolgt:</label>
                        <input name="name" class="form-control" type="text">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Reservieren">
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <!-- jQuery für Dateneintrag ins Modal, Quelle: https://getbootstrap.com/docs/4.0/components/modal/#varying-modal-content -->
    <script>
        $('#wunschReservieren').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var artikel = button.data('artikel') // Extract info from data-* attributes
            var wunschliste = button.data('wunschliste')
            var modal = $(this)
            modal.find('.modal-title').text('Erfülle den Wunsch ' + artikel)
            modal.find('.artklid').val(artikel)
            modal.find('.wnschliste').val(wunschliste)
            modal.find('.form-control').val('...')
        })
    </script>

</body>

</html>