<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Gift Me Five Extrawunsch</title>
    <script type="text/javascript" src="js/wishform.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="container">
    <!--Navigation-->
    <div class="bg-1">
        <!-- Home -->
        <a class="home pl-4" th:href="@{home}">Home<span class="sr-only">(current)</span></a>
        <!--Titeltext-->
        <div class="row text-center title-1">GiftMeFive</div>
        <div class="title-1-text" th:text="|${titlename} Wunschliste!|"></div>
    </div>

    <!-- Eingabefeld -->
    <div class="card mb-4 mt-2" style="background-color: #ddd">
        <form action="/addWish" class="form-horizontal" method="post" onreset="myResetFunction()">
            <div class="row no-gutters">
                <div class="col-md-4 file-field" style="background-color: #ccc">
                    <div class="card-body">
                        <p class="card-title">Vorschau(nach Kategorie):</p>
                        <img src="/image/default.jpg" class="card-img" alt="..." id="category_wish_image">
                        <input type="hidden" id="categoryImage" name="categoryImage" value="/image/default.jpg">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <h5 class="card-title">Ihr Wunsch</h5>
                            <p class="card-text">
                                <label class="control-label mt-2 mb-0">Was wünschen Sie sich:</label>
                                <input class="form-control " name="articlename" type="text" placeholder="My wish">

                                <label class="control-label mt-2 mb-0">Beschreibung:</label>
                                <textarea class="form-control" name="description" placeholder="This is the greatest wish ever"></textarea>

                                <label class="control-label mt-2 mb-0">Kategorie:</label>
                                <select class="form-control" id="category" onchange="newImageFunction()">
                                    <option>Baby</option>
                                    <option>Beauty</option>
                                    <option>Bekleidung</option>
                                    <option>Bücher & Zeitschriften</option>
                                    <option>Bürobedarf & Schreibwaren</option>
                                    <option>Computer & Laptop & Zubehör</option>
                                    <option>DVD & Blu-ray</option>
                                    <option>Drogerie & Körperpflege</option>
                                    <option>Elektronik & Foto</option>
                                    <option>Games</option>
                                    <option>Garten</option>
                                    <option>Geschenkgutscheine</option>
                                    <option>Haustier</option>
                                    <option>Kamera & Foto</option>
                                    <option>Küche, Haushalt & Wohnen</option>
                                    <option>Musik-CDs & Vinyl</option>
                                    <option>Schmuck</option>
                                    <option>Schuhe & Handtaschen</option>
                                    <option>Software</option>
                                    <option>Spielzeug</option>
                                    <option>Sport & Freizeit</option>
                                    <option>Uhren</option>
                                    <option>Sonstiges</option>
                                </select>

                                <label class="control-label mt-4 mb-0">Eigenes Bild hochladen.</label>
                                <input type="file" class="form-control-file" name="userimage" placeholder="">

                                <input type="hidden" name="wishlistId" value="" th:value="${wishlistId}">
                                <input type="hidden" name="titlename" value="" th:value="${titlename}">

                                <input type="reset" onclick="imgResetFunction()" class="btn btn-danger mt-3 mb-0" value="Leeren">
                                <input type="submit" class="btn btn-success mt-3 mb-0" value="Speichern">
                            </p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Ende von Wunsch einfuegen -->

    <!--Eintrag 1-->
    <div class="card mb-4 mt-2" th:each="article : ${wishlist}">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a th:href="@{${article.productlink}}" target="_blank">
                    <img th:src="@{${article.imagelink}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.name}"></h5>
                    <p class="card-text" th:text="${article.description}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text="|Hinzugefügt am ${article.creationdate}|"></small>
                        <small class="text-muted" th:text="| / Artikel-id ${article.id}|"></small>
                        <small class="text-muted" th:text="| / Wunschliste-id ${wishlistId}|"></small>
                    </p>
                    <div class="text-right">
                        <a th:href="@{/removeWish(articleId=${article.id}, wishlistId=${wishlistId}, titlename=${titlename})}" class="btn btn-danger">Löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>